# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

contracts/node_modules/
contracts/cache/
contracts/out/
contracts/lib/
contracts/broadcast/